@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    background-color: rgb(74, 98, 121);
}

.jumbotron {
    color: white;
    background-image: linear-gradient(to bottom, rgb(59, 71, 110), rgb(51, 71, 90));
}

.card {
    border-radius: 20px;
    width: 45vw;
    height: 20vh;
    background-image: linear-gradient(to bottom, rgb(31, 44, 58), rgb(15, 25, 35));
}

h1 {
    font-family: 'Russo One', sans-serif;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}

h4 {
    color: white;
    font-family: 'Russo One', sans-serif;
}

p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-shadow: 2px 3px rgba(0, 0, 0, 0.5);
}

button {
    width: 20vw;
}

#cards {
    font-family: 'Russo One', sans-serif;
}

@media screen and (max-width: 1060px) {
    #web{ 
        margin: auto;
        width:67%; 
        height:150px;
    }

    #download{ 
        margin: auto;
        margin-top: 15px;
        margin-bottom: 15px;
        width:67%; 
        height:150px;
    }

    .btn {
        font-size: 12px;
        margin: auto;
        margin-top: 5px;
        width:67%;
    }
}